<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> DIGITS -  @ViewBag.Title</title>
    <meta name="description" content="Portal for business users to create sales order for customers">
    @Styles.Render("~/Content/styles")

    <link href="~/Content/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />


    <link rel="stylesheet" href="../Kendo/styles/kendo.common.min.css" />
    <link rel="stylesheet" href="../Kendo/styles/kendo.default.min.css" />

    @Scripts.Render("~/Content/scripts")

    <script src="~/Content//plugins/global/plugins.bundle.js"></script>

    <script src="../Kendo/js/kendo.all.min.js"></script>
    <script src="../Kendo/js/kendo.aspnetmvc.min.js"></script>
    <script src="https://kit.fontawesome.com/2aae7d993b.js" crossorigin="anonymous"></script>

    @RenderSection("scripts", required: false)
</head>

<body  id="kt_body" class="header-fixed header-tablet-and-mobile-fixed toolbar-enabled toolbar-fixed aside-enabled aside-fixed"
      style="--kt-toolbar-height: 55px; --kt-toolbar-height-tablet-and-mobile: 55px; background-color: #eff2f5 !important">
   
    <div class="app-main flex-column flex-row-fluid" id="kt_app_main">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - <a href="turbosft.technology">Digits</a></p>
        </footer>
    </div>
</body>
</html>
